

COIN_GECKO_API_LABEL=
COIN_GECKO_API_KEY=
COIN_GECKO_API=https://api.coingecko.com/api/v3
COIN_GECKO_API_PRICE=/simple/price

# Supported tokens follow the format of the CoinGecko API
SUPPORTED_TOKENS=bitcoin,ethereum,tether,solana,dogecoin
SUPPORTED_TOKENS_SYMBOL=BTC,ETH,USDT,SOL,DOGE
DEFAULT_CURRENCY=usd


# Database
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=username
DB_PASSWORD=password
DB_DATABASE=lacoco
DB_SYNC=true
